/* Appbar */

.toolbar {
  width: 100%;
  height: 4.25rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E2E2;
}

.Restaurant_name {
  width: 56vw;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  text-align: start;
}

/* Cart dialog */
.Dialog_content {
  position: relative;
  width: 100%;
  max-height: 41.5rem;
  padding: 0 1.5rem 1rem 1.5rem;
  /* display: flex;
    flex-direction: column; */
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
}

.Dialog_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  color: var(--onsurface);
  background-color: var(--surface);
  width: 100%;
  z-index: 1;
}

.Button_group {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.342);
  backdrop-filter: blur(7.5px);
}

.Button_group_fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  z-index: 6;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}

.Total {
  bottom: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0 0.25rem;
}

.Mmenu_button {
  width: 100%;
}

/* Language */
.LanguageGroup {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
  gap: 1rem;
}