.gender-select {
    border: 1px solid #E2E2E2;
    width: 100%;
    background-color: #fff;
  /* fontSize: 0.875rem;
  borderRadius: 8px;
  marginBottom: 16px;
  marginTop: 8px;
  id: outlined-basic;
  variant: outlined; */
}