.home {
    background: url('/background-images.svg');
    background-size: cover;
    background-position: center;
}

.home__bottom {
    position: fixed;
    bottom: 0;
}

.bottom__drawer {
    background-color: #fff;
    width: 100vw;
    padding: 1rem;
    padding-top: 1.6rem;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    box-shadow: 0px -100px 50px 50px rgba(0,0,0,0.35);
}