.mmenu__button {
    text-transform: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 0.8rem;
    background-color: black;
    border-radius: 8px;
}

.mmenu__white-button {
    background-color: white;
    color: black;
    box-shadow: none;
    border: 1px solid #E2E2E2;
}

.mmenu__white-button:hover {
    background-color: whitesmoke;
    border-color: #0062cc;
    box-shadow: none;
  }
.mmenu__white-button:active {
    box-shadow: none;
    background-color: whitesmoke;
    border-color: #005cbf;
  }
.mmenu__white-button:focus {
    box-shadow: '0 0 0 0.2rem rgba(0,123,255,.5)';
  }