.text_grey_choices {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 16px;
  color: #AFAFAF;   
}

.row_camera_scan {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-end;
}