.tabs__background {
    background: url('/background-images-large.svg');
    background-position: center;
    background-size: cover;
}

.tabs--tablet--hidden {
    display: none;
}

@media (min-width: 600px) {
    .tabs--mobile--hidden {
        display: none;
    }
    .tabs--tablet {
        display: flex;
    }
}