.banner-admin {
    background-image: url('/banner-admin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 16px);
    height: 96px;
    border-radius: 8px;
    margin: 10px 0;
    color: white;
    align-items: center;
    justify-content: center;
}